:root{
  --main-color: #6385ff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.5;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body{
  background-image: linear-gradient(

    #c0c0aa
    ,
    #1cefff);
  padding-left: 30rem;
}
section{
  padding: 1rem 5%;
  min-height: 100vh;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  flex-flow: column;
  padding: 8rem 2rem;
  width: 30rem;
  text-align: center;
  background-image: linear-gradient(
    #4cb8c4
    ,
    #3cd3ad);
}
header .logo{
  color: #fff;
  font-size: 2rem;
  font-weight: bolder;
}
header .navbar a{
  display: block;
  font-size: 2rem;
  color: #fff;
  margin: 2rem 0;
}
header .navbar a:hover{
  letter-spacing: .2rem;
  color: var(--main-color);
}
header .follow a{
  font-size: 2.5rem;
  color: #fff;
  margin: 0.7rem;
}
header .follow a:hover{
  color: var(--main-color);
}
#menu-bars{
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10000;
  background: var(--main-color);
  color: #fff;
  border-radius: .5rem;
  padding: 1rem 1.5rem;
  font-size: 3rem;
  cursor: pointer;
  display: none;
}

/* media queries  */
@media (max-width:991px){

  html{
      font-size: 55%;
  }
  
  body{
      padding: 0;
  }

  #menu-bars{
      display: initial;
  }

  header{
      left:-120%;
  }

  header.active{
      left:0%;
  }

}

@media (max-width:450px){

  html{
      font-size: 50%;
  }

  header{
      width:100%;
  }


}

.home{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.home .content{
  flex: 1 1 40rem;
}
.home .content .hi{
  font-size: 2rem;
  color: var(--main-color);
}
.home .content h3{
  font-size: 4.5rem;
  color: #fff;
  text-transform: uppercase;
}
.home .content h3 span{
  color: var(--main-color);
  text-transform: uppercase;
}
.home .content .info{
  font-size: 2.5rem;
  color: #111;
  padding: .5rem 0;
}
.btn{
  display: inline-block;
  margin-top: 1rem;
  padding: .8rem 3rem;
  background: var(--main-color);
  color: #fff;
  font-size: 1.7rem;
}
.btn:hover{
  background: rgb(168, 255, 255);
  color: #333;
}
.heading{
  font-size: 4rem;
  padding-bottom: 1rem;
  color: #fff;
  text-transform: uppercase;
}
.heading span{
  font-size: 4rem;
  padding-bottom: 1rem;
  color: var(--main-color);
  text-transform: uppercase;
}
.about .row-1{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-bottom: 2rem;
}
.about .row-1 .image{
  flex: 1 1 25rem;
}
.about .row-1 .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 1rem solid #fff;
  border-radius: .5rem;
  box-shadow: 0 .5rem 1 rem rgba(0,0,0,.1);
}
.about .row-1 .content{
  flex: 1 1 50rem;
}
.about .row-1 .content h3{
  color: #333;
  font-size: 3.5rem;
}
.about .row-1 .content p{
  color: #fff;
  font-size: 1.7rem;
  padding: .5rem 0;
}
.about .box-cont span{
  color: rgb(32, 55, 160);
}
.about .box-cont{
  margin: 10px;
}
.about .row-1 .content .box-cont{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0.5rem 0;
}
.about .row-1 .content .box-cont .box{
  flex: 1 1 20rem;
}
.about .row-2{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
}
.about .row-2 .skills{
  flex: 1 1 40rem;
}
.about .row-2 .skills .progress{
  padding: 1rem 0;
}
.about .row-2 .box-cont{
  flex: 1 1 40rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.about .row-2 .skills .progress h3{
  display: flex;
  justify-content: space-between;
  padding: 7rem 0;
  font-size: 1.7rem;
  color: #111;
  font-weight: 400;
}
.about .row-2 .skills .progress .bar{
  width: 100%;
  background: #ccc;
  overflow: hidden;
  height: 1rem;
  border-radius: 50rem;
}
.about .row-2 .skills .progress .bar span{
  display: block;
  height: 100%;
  background: var(--main-color);
  border-radius: 50rem;
}
.about .row-2 .skills .progress:nth-child(1) .bar span{
  width: 85%;
}
.about .row-2 .skills .progress:nth-child(2) .bar span{
  width: 70%;
}
.about .row-2 .skills .progress:nth-child(3) .bar span{
  width: 85%;
}
.about .row-2 .skills .progress:nth-child(4) .bar span{
  width: 85%;
}



.contact-p{
  font-size: 3rem;
  font-family: sans-serif;
}
.contact-p span{
  color: var(--main-color);
}
.find-icons{
  font-size: 3rem;
  margin-top: 2rem;
}
.email{
  font-size: 2rem;
  font-family: sans-serif;
}


.footer{
  width: 100%;
  margin-top: 50%;
  background: #fff;
  color: #111;
  font-size: 2.5rem;
  text-align: center;

}



